spring:
  application:
    name: fantasy-f1-api

  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/REDACTED}
    username: ${DATABASE_USERNAME:REDACTED}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}
